:root {
    --bg-color: #f2f2f2;
    --second-bg-color: #ff6600;
    --text-color: #333333;
    --main-color:  #492E74;
    --hover: #5a07e0;
}

.container-detail{
    padding-top: 15rem;
    min-height: 30vh;
    background-color: white;
    
}

.container-detail h1{
    font-size: 3.5rem;
    text-align: center;
    color: var(--text-color);
}

.div-flex{
    display: flex;
    border: .2rem solid var(--main-color);
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

strong{
    color: var(--main-color);
}

.div-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    margin-left: 1.5rem;
}

.div-info h2{
    font-size: 2.5rem;
    margin: 0;
    color: var(--text-color);
}

.prod-p-detail{
    font-size: 1.5rem;
    color: var(--text-color);
    width: 50%;
}

.btn-detail-cart{
    padding: 1rem;
    margin: 1rem;
    font-size: 2rem;
    padding-top: 1rem;
    border: solid .2rem var(--main-color);
    margin-top: .2rem ;
}

.btn-detail-cart:hover{
    box-shadow: 0 0 1rem var(--hover);
}

.product-img{
    width: 40rem;
    height: 45rem;
    margin: .5rem;
}

.counter-div{
    margin-right: 5rem;
}

.counter-btn{
    display: flex;
    flex-direction: column;
    text-align: center;
}
